:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --main-background: #2c2f33;
  --transition-speed: 600ms;
}

body {
    background-color: var(--main-background);
    color: var(--text-secondary);
    margin: 0;
    padding: 0;
}

.font-icon{ 
  font-size: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.bg-red{
    background-color: red;
}

.bg-black{
    background-color: black;
}

.bg-gray {
    background-color: gray;
}

.flex { 
    display: flex; 
}

.justify-center{
    justify-content: center; 
}

.item-center{
    align-items: center;
}

.text-center{
    text-align: center;
}

.margin-center{
    margin-left: auto;
    margin-right: auto;
}

.mb-2 {
    margin-bottom: .5rem;
}

.w-full {
    width: 100%;
}