:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --main-background: #2c2f33;
  --transition-speed: 600ms;
}

body {
  background-color: var(--main-background);
  margin: 0;
  padding: 0;
}

#button-container{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    transition: var(--transition-speed);
}

#discord-button i{
   margin-top: 10px;
   margin-left: auto;
}

#discord-button h3{
    margin-left: 0px;
    margin-right: auto;
}

.button h3{
    margin-left: auto;
    margin-right: auto;
    margin-top: 13px;
}

.button {
    margin-top: 20px;
    margin-right: 20px;
    border-radius: 3px;
    display: flex;
    text-align: center;
}

.selector a{
    color: var(--text-secondary);
    text-decoration: none;
    width: 300px;
    height: 50px;
    text-align: center;
}

.selector{
    flex-direction: column;
    width: auto;
    height: 100vh;
}

/*-------------------------------------------------*/
main {
  margin-left: 5rem;
  color: var(--text-primary);
}

.flex { 
    display: flex; 
    justify-content: center; 
    align-items: center;
}
/*-------------------------------------------------*/


/* Small screens */
@media only screen and (max-width: 499px){
  #button-container{
    flex-direction: column;
  }
}

/* Middle screens*/
@media only screen and (min-width: 500px) and ( max-width: 699px) {
  #button-container{
    flex-direction: column;
  }
}
/* Large screens */
@media only screen and (min-width: 700px){
  #button-container{
    flex-direction: row;
  }
    
}