
.navbar {
  position: fixed;
  background-color: var(--bg-primary);
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-primary {
  transition: var(--transition-speed);
}

.nav-logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}

.nav-logo i {
  font-size: 3rem;
  transform: rotate(0deg);
  transition: var(--transition-speed);
}

.nav-logo-text{
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .nav-logo i {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 499px){
 .navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
    transition: none;
  }
  .nav-logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main{
    margin: 0rem;
    padding-bottom: 5rem;
  }
}

/* Large screens */
@media only screen and (min-width: 500px){
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
    transition: width 800ms ease;
  }

  main{
    margin-left: 5rem;
  }  

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .nav-logo i{
    margin-left: 11rem;
  }

  .navbar:hover .nav-logo-text{
    left: 0px;
  }
}